@font-face {
  font-family: 'Netflix';
  src        : url('../Fonts/BebasNeue-Regular.ttf');
}

:root {
  --varColor1: #e50914;
  --varColor2: #141414;
  --varColor3: #E5E5E5;

  --varPrimaryFont:
    --varSecondFont:
}



* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}



h3 {
  color: var(--varColor3);
}

body {
  background-color: var(--varColor2);

}

header .container {
  z-index         : 1;
  text-decoration : none;
  align-items     : center;
  display         : flex;
  justify-content : space-between;
  background-color: var(--varColor2);
  height          : 8vh;
  width           : 100vw;
  position        : fixed;
  top             : 0;
  padding         : 0 4rem 0 0;

}

.container {
  color: var(--varColor3);

}

.container p {
  margin-top: 1rem;
}

header {
  z-index : 9999;
  position: fixed;
}

header nav {


  display: flex;
  gap    : 1rem;
}

header nav a {

  color          : var(--varColor3);
  text-decoration: none;
}

header nav a:hover {
  transition: 1s;
  opacity   : .8;
}

header h2,
h3,
p,
.botoes {
  margin-left: 2rem;
}

header h2 {

  font-size  : 1.56rem;
  font-family: 'Netflix';
  color      : var(--varColor1);
}

.filme-principal video {
  top            : -5%;
  position       : absolute;
  width          : 100%;
  height         : auto;
  min-height     : 720px;
  overflow       : visible;
  background-size: contain;


  z-index   : 0;
  overflow-y: hidden;
}

.filme-principal .video-control {

  display        : flex;
  justify-content: flex-end;
  flex-direction : column;
  justify-content: flex-end;

  position: relative;
  z-index : 1;
  left    : 90vw;


}

.descripition {
  position: relative;

  margin-left  : .5rem;
  background   : #141414;
  opacity      : .6;
  border-radius: 10px;
  padding      : 1rem;
}

.descripition:hover {
  opacity: 1;
}

.filme-principal .video-control {
  right  : 10vw;
  top    : 30%;
  z-index: 1;
}

.filme-principal .video-control button {

  margin-bottom  : 5px;
  display        : flex;
  width          : 5vw;
  height         : 8vh;
  border-radius  : 20px;
  cursor         : pointer;
  align-items    : center;
  justify-content: center;
  font-size      : 12px;
  padding        : 20px 50px;



}


section {
  margin-top   : 5%;
  margin-bottom: 5rem;
  color        : var(--varColor3);
}

.container img {
  flex-direction: column;
  display       : flex;
  position      : relative;

  right: 25vw;
  width: 5rem;
}

section p {
  font-size  : 24px;
  font-family: var(--varPrimaryFont);
  margin     : 1rem;
}

.filme-principal embed {
  z-index: 2;
}

.container {
  z-index : 200;
  position: relative;
}

.filme-principal {
  z-index        : 1;
  margin-top     : 8vh;
  background     : linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../img/Wallpapers/Fast\ -\ Rock\ Lee\ \ Vs\ Gaara\ AMV.mp4');
  height         : 30rem;
  width          : 100vw;
  background-size: cover;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : flex-start;
}

.filme-principal .container {
  width: 70%;
}

.filme-principal .descricao {
  margin-bottom: 2.5rem;
}

.titulo {
  font-size : 2.5rem;
  margin-top: 1.25rem;


}


.botao {
  background-color: rgba(0, 0, 0, .50);
  border          : none;
  color           : #ffff;
  padding         : 1rem;
  cursor          : pointer;
  margin-right    : 1rem;
  margin-bottom   : .5rem;
  font-size       : .8rem;
  text-transform  : uppercase;
  border-radius   : 5px;
  transition      : .4s;
}



.botao:hover {
  background-color: #ffff;
  color           : var(--varColor2);
}

.botao i {
  margin-right: 8px;
}

p {
  position: relative;
  color   : var(--varColor3);
}

/* wrapper   */

.box-filme {
  height : 100%;
  width  : 100%;
  display: block;
  cursor : pointer;
}

.carrossel-filmes {
  position: relative
}

.slider {
  display: block;

}

.owl-dots {
  display: none;

}

p {
  color      : var(--varColor3);
  font-size  : 24px;
  font-family: var(--varPrimaryFont);
}